<h3 mat-dialog-title>Create Dispute</h3>
<form #f= "ngForm" (ngSubmit)="onSubmit()">
<mat-form-field >
    <input #input cdkFocusInitial maxlength="50" matInput placeholder="Create dispute" name="name"
     [(ngModel)]="dispute.name" required>
    <mat-hint align="end">{{input.value?.length || 0}}/50</mat-hint>
</mat-form-field>
<mat-dialog-actions  class="button" >
    <button mat-button  mat-dialog-close>CANCEL</button>
    <button type="submit" mat-raised-button color="primary" 
    [mat-dialog-close]="dispute"[disabled]="f.invalid"
    >CREATE</button>
</mat-dialog-actions>
</form>