.mat-sidenav {
    min-width: 15vw;
    .mat-button {
    width: 100%;
    position: relative;
    bottom: 0;
    margin: 24px 0;
  }
 }
 
 .mat-toolbar {
  .mat-icon {
      cursor: pointer;}
    .toolbar { 
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
  }
 }
 
 h1 {
  font-size: 20px;
 }
 @media (min-width: 768px) and (max-width: 1440px) {
  .btn-create {
  top: -30px;
  left: 155px;
  position: absolute;
  z-index: 2;
  }
 }
 
 @media (min-width: 320px) and (max-width: 767px) {
  .btn-create { 
  bottom: 20px;
  right: 20px;
  position: fixed;
  z-index: 2;
  }
 }
 .btn-create:hover {
  background-color: rgb(74, 74, 211);
 }
 
 .header {
  background-color: rgb(46, 46, 46);
  color: white;
 }
 
 .header-left {
  display: flex;
  justify-content: flex-start;
 }
 
 .image {
  padding-right: 10px;
  width: 38px;
  height: 30px;
 }
 
 .item-list {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 30px;
 }