<mat-list-item>
    <a matLine [routerLink]="['/disputes', dispute.id, 'issues']" class="title">
        <div class="name" role="listitem">{{dispute.name}}</div>
        <small class="text-color" role="listitem">{{dispute.date | date:'dd/MM/yyyy' }}</small>
    </a>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openDialogEdit()">
            <mat-icon color="primary">mode_edit</mat-icon>
            <span>Edit</span>
        </button>
        <button mat-menu-item (click)="openDialogDelete()">
            <mat-icon color="warn">delete</mat-icon>
            <span>Delete</span>
        </button>
    </mat-menu>
</mat-list-item>