<mat-list class="items-list" role="list">
    <mat-card class="item-card">
        <div>
            <p role="listitem">{{issue.name}}</p>
        </div>
        <div>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item style="color: blue" (click)="openDialogEdit()">
                    <mat-icon color="primary">mode_edit</mat-icon>
                    <span>Rename</span>
                </button>
                <button mat-menu-item style="color: red" (click)="openDialogDelete()">
                    <mat-icon color="warn">delete</mat-icon>
                    <span>Delete</span>
                </button>
            </mat-menu>
        </div>
    </mat-card>
</mat-list>