mat-card {
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
   }   
.note-card {
    margin-top: -14px;
    height: 60px;
   }   
.note-form {
    width: 100%;
   }   
.note-button {
    display: flex;
    justify-content: flex-end;
   }   
.notes_issue {
    width: 100%;
   }   
.note_edit {
    width: 100%;
   }