<div>
    <mat-card class="issue-card">
        <div>
            <div class="name" role="listitem">{{issue.name}}</div>
        </div>
        <div>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openDialogEdit()">
                    <mat-icon color="primary">mode_edit</mat-icon>
                    <span>Rename</span>
                </button>
                <button cdkFocusInitial mat-menu-item (click)="creating = true" *ngIf="!issue.notes">
                    <mat-icon color="primary">speaker_notes</mat-icon>
                    <span>
                        Add Notes
                    </span>
                </button>
                <button mat-menu-item (click)="onRemoveNotesClicked()" *ngIf="issue.notes">
                    <mat-icon color="warn">speaker_notes_off</mat-icon>
                    <span>
                        Remove Notes
                    </span>
                </button>
                <button mat-menu-item (click)="openDialogDelete()">
                    <mat-icon color="warn">delete</mat-icon>
                    <span>Delete</span>
                </button>
            </mat-menu>
        </div>
    </mat-card>
    <mat-card *ngIf="editing" class="note-card">
        <app-notes-issue class="notes_issue" [notes]="issue.notes" (save)="onSaveNotes($event)"></app-notes-issue>
    </mat-card>
    <mat-card *ngIf="creating" class="note-card">
        <app-notes-issue class="notes_issue" (save)="onSaveNotes($event)"></app-notes-issue>
    </mat-card>
    <mat-card  *ngIf="issue.notes && !editing" class="note-card">
        <form class="note_edit">
            <div>
                <p>{{issue.notes}}</p>
            </div>
            <div class="note-button" (click)="editing = true">
                <button type="submit" mat-raised-button color="primary">
                    Edit
                </button>
            </div>
        </form>
    </mat-card>
</div>