/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html {
    font-size: 100%;
    font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
    line-height: 1.4 !important;
    letter-spacing: -0.1px !important;
  }
  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  